
.text-bed{color:#FF0000}a.text-aaa:hover{color:#FF0000}
.text-home{color:#D7DF01}a.text-aaa:hover{color:#D7DF01}
.text-social{color:#3c763d}a.text-aaa:hover{color:#3c763d}
.text-default{color:#b6abab}a.text-aaa:hover{color:#b6abab}

#map-canvas { 	width:100%; height:300px; }

.align-r {
	text-align: right;
	vertical-align: middle;
	margin-top: 7px;
}

textarea {
   resize: none;
}

.sidebar a {
    color: #b8c7ce !important;

}
.sidebar a:hover {
    color: white !important;
   
}

.scrollable-dropdown {
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
}

.dropdown .btn {
	width:100%;
	text-align: left;
}

.dropdown .btn .caret {
	float: right;
	margin-top: 8px;
}

.dropdown-menu {
	width : 100%;
	min-width:auto;
}

.small-box {
	cursor: pointer;
}

#ajaxLoadScreen {
	position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    z-index: 1000000;
    height: 100vh;
    filter: alpha(opacity=70);
}

#loadingImg {
    width: 220px;
    height: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
}

.personcard-avatar {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    cursor: pointer;   
    opacity: 0.8;
}

.personcard-avatar:hover {
    opacity: 1;
}


.personcard-name {
    width: 100%;
    margin-top: 5px;
    color: #444;
    font-weight: 600;
    text-align: center;
}

.personcard-cid {
    width: 100%;
    color: #999;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
}

.modal-dialog .hide{
    visibility: hidden;
}

.box-body .collapse {
    display : none;
}

.datepicker.datepicker-dropdown.dropdown-menu {
    width: 250px;
    z-index: 99999999 !important;
}

.bootbox-close-button.close {
    display: none;
}

.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
  background-color: #1A2226;
  font-size: 14px;
  color: #4b646f;
}

.flot-overlay { cursor: pointer; }

.ht_clone_top .handsontable {
    display: none !important;
}

.tree {
    
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative;
    font-size: 14px;
}

.tree ul {
    font-size: 0;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li  span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span  {
    
}

.tree li.parent_li > span > span {
     margin:2px 0px;
    text-decoration:none;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border: 0;
    cursor: pointer;
    display: inline;
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:25px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.parent_li {
    display : inline-block;
    padding-top: 0 !important;
}